name: Build arm64
on: workflow_dispatch
jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      
      - name: Install older Protobuf
        run: |
          brew install protobuf@21
      
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Build
        run: |
          export PATH="/opt/homebrew/opt/protobuf@21/bin:$PATH"
          export CPLUS_INCLUDE_PATH="/opt/homebrew/opt/protobuf@21/include"
          export CPPFLAGS="-I/opt/homebrew/opt/protobuf@21/include"
          export LDFLAGS="-L/opt/homebrew/opt/protobuf@21/lib"
          export LIBRARY_PATH="/opt/homebrew/opt/protobuf@21/lib"
          export PKG_CONFIG_PATH="/opt/homebrew/opt/protobuf@21/lib/pkgconfig"
          
          # Verify protoc is found
          which protoc
          protoc --version
          
          ./gradlew :grpc-compiler:java_pluginExecutable -PskipAndroid=true
      
      - uses: actions/upload-artifact@v4
        with:
          name: protoc-gen-grpc-java-arm64
          path: compiler/build/exe/java_plugin/protoc-gen-grpc-java
